* {
	margin: 0px;
	padding: 0px;
	overflow-y: hidden;
}

body {
	background-image: url("../bg.gif");
}

#blackDiv {
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.3);
	z-index: -100;
	position: absolute;
	float: left;
	margin-top: 0px;
}

#gameDiv {
	width: 500px;
	height: 605px;
	background-color: white;
	margin: 0 auto;
	border: 10px solid white;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.5);
}

#statusBar {
	height: 50px;
	width: 500px;
	background-color: rgb(0, 200, 80);
	border: 1px solid black;
}

#can1,
#can2,
#can3,
#can4,
#can5 {
	background-color: #EEE;
}

.gameCanvas {
	width: 96.5px;
	height: 545px;
	background-color: #EEE;
}
